html {
    scroll-behavior: smooth;
}

:root{

    /* Backgrounds */

    --bg-color:#0B0B0B;

    --card:#1B1B1B;

    /* Brand Colors */

    --primary:#8BC53F;

    --primary-dark:#5FA62F;

    /* Text */

    --text:#FFFFFF;

    --secondary:#BFC4C7;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background:var(--bg-color);

    color:var(--text);

    overflow-x:hidden;

}

a{

    text-decoration:none;

    color:inherit;

}

button{

    cursor:pointer;

    font-family:inherit;

}